.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.checkbox label {
  font-size: 1.3rem;
  margin-left: 10px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15rem solid #f9957f;
  border-radius: 0.3rem;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #f9957f;
}

@media only screen and (min-width:1024px){
  .checkbox:nth-child(even){
    justify-self: flex-end;
  }

  .checkbox:last-child{
    margin-right: 5.2rem;
  }
}
